.post,
.page-template-default {
	margin-top: -5em;
	.chapter {
		background: $black;
		display: table;
		font-weight: 100;
		line-height: 1em;
		overflow: hidden;
		position: relative;
		width: 100%;
		.entry-title {
			color: $white;
			font-family: $heading;
			font-size: 2.25em;
			font-weight: 600;
			display: table-cell;
			vertical-align: middle;
			line-height: 1.1em;
			text-align: center;
			padding: 1em;
			word-break: break-word;
			width: 100%;
			@media screen and (min-width: $m-l) {
		    padding: 1em 4em;
		  }
		}
	}
	.entry {
		font-size: 1.5em;
		font-weight: 300;
		line-height: 1.5em;
		position: relative;
		margin: auto;
		max-width: 42em;
		padding: 1em;
		.chapter-author {
			font-weight: 400;
			font-size: .5em;
			text-align: center;
			margin: -1em 0 3em;
			position: relative;
			text-transform: uppercase;
			a:before {
				content: "\f040";
				font-family: FontAwesome;
				left: 0;
	      opacity: 0;
	      position: absolute;
	      text-align: center;
	      top: -1em;
	      @include transition(all $transition-static);
	      width: 100%;
			}
			a:hover:before {
				color: $black;
				opacity: 1;
	      top: -1.25em;
			}
		}
		.entry-author-meta {
			font-family: $serif;
			font-style: italic;
			font-weight: 400;
			line-height: 1.5em;
			margin-top: -1em;
			text-transform: none;
		}
		.entry-chapter {
			color: $white;
			font-family: $serif;
			font-style: italic;
			font-size: .5em;
			font-weight: 400;
			margin-top: -4.5em;
			margin-bottom: 4em;
			text-align: center;
			white-space: nowrap;
			width: 100%;
		}
		p {
			margin-bottom: 1em;
			&:last-of-type {
				margin-bottom: 0;
			}
		}
	}
	.post-end {
		font-size: .5em;
		font-weight: 400;
		padding-top: 1em;
		text-align: center;
		text-transform: uppercase;
	}
	.tag-links {
		font-size: .5em;
		font-weight: 400;
		padding-top: 1em;
		text-transform: uppercase;
		a {
			line-height: 1em;
			position: relative;
		}
		a:before {
			content: "\f02b";
			font-family: FontAwesome;
			left: 0;
      opacity: 0;
      position: absolute;
      text-align: center;
      top: -1em;
      @include transition(all $transition-static);
      width: 100%;
		}
		a:hover:before {
			color: $black;
			opacity: 1;
      top: -1.25em;
		}
	}
}


.is-section {
	padding-bottom: 2em;
	@media screen and (min-width: $medium) {
		float: left;
		width: 48%;
		&:nth-of-type(2n+1) {
			clear: left;
			padding-right: 2%;
		}
	}
	&:last-of-type {
		padding-bottom: 0;
	}
	h2 {
		font-size: 1.5em;
		padding-bottom: .5em;
	}
}
