.results-container {
	background: $nonwhite;
}
.entry-results-list {
	margin: auto;
	max-width: 63em;
	padding: 1em;
  @media screen and (min-width: $s-m) {
    padding: 1em 4em;
  }
  @media screen and (min-width: $m-l) {
    padding: 2em 8em;
  }
}
.result {
	background: $black;
	border: none;
	display: block;
	@media screen and (min-width: $medium) {
		float: left;
		width: 50%;
	}
	.result-container {
		display: table;
		height: 320px;
		position: relative;
		width: 100%;
	}
	.result-info {
		display: table-cell;
		text-align: center;
		padding: 2em;
		vertical-align: middle;
	}
	h3 {
		color: $white;
		font-size: 2em;
		font-weight: 100;
		line-height: 1em;
		text-transform: uppercase;
	}
	.result-id {
		border: 5px solid;
		border-bottom-color: transparent;
		border-right-color: transparent;
		border-radius: 50%;
		color: $white;
		height: 80px;
		font-size: 2em;
		line-height: 70px;
		margin: .25em;
		left: 0;
		position: absolute;
		top: 0;
		@include transform(rotate(-45deg));
		width: 80px;
	}
}


.result-title {
	background: $white;
	display: table;
	margin-top: -5em;
	width: 100%;
	h1 {
		display: table-cell;
		color: $black;
		font-family: $heading;
		font-size: 2.25em;
		font-weight: 600;
		line-height: 1.1em;
		text-align: center;
		vertical-align: middle;
	}
	.archive-meta {
		font-family: $serif;
		font-size: .333em;
		font-style: italic;
		font-weight: 400;
		line-height: 1.5em;
		margin: auto;
		max-width: 44em;
		text-align: center;
	}
}

.result-entry {
	display: table;
	padding-bottom: 4em;
	.button {
    border-color: $black;
    color: $black;
    display: block;
    margin: auto;
    position: relative;
    z-index: 1;
    text-align: center;
    white-space: nowrap;
    width: 184px;
    @media screen and (min-width: $s-m) {
    	margin: inherit;
    }
    .fa {
      left: 0;
      opacity: 0;
      position: absolute;
      text-align: center;
      top: -1em;
      @include transition(all $transition-static);
      width: 100%;
    }
    &:hover .fa {
      opacity: 1;
      top: -1.5em;
    }
  }
	.result-entry-chapter {
		font-family: $serif;
		font-style: italic;
		font-size: .75em;
		padding-top: .166em;
		text-align: center;
	}
	.result-image {
		a {
			border: none;
			display: block;
			height: 12em;
			margin: auto;
			width: 12em;
		}
		@media screen and (min-width: $s-m) {
			display: table-cell;
			vertical-align: middle;
		}
	}
	.result-entry-content {
		@media screen and (min-width: $s-m) {
			display: table-cell;
			padding-left: 1em;
			vertical-align: middle;
		}
	}
	.result-entry-title {
		font-family: $heading;
		font-size: 1.5em;
		font-weight: 600;
		text-align: center;
		@media screen and (min-width: $s-m) {
			text-align: left;
		}
		@media screen and (min-width: $m-l) {
			font-size: 2.25em;
		}
	}
	.result-entry-excerpt {
		margin-bottom: 1.5em;
	}
}
