.footer {
	background: $black;
	color: $greyMd;
	display: block;
	font-size: .75em;
	line-height: 1em;
	margin-left: 0;
	overflow: hidden;
	padding: 1.33em 2em;
	position: relative;
	text-transform: uppercase;
	width: 100%;
	z-index: 1;

	a {
		border-bottom: 1px solid transparent;
		color: $white;
		&:hover {
			border-color: $yellow;
			color: $yellow;
		}
	}
	.footer-info {
		text-align: center;
		@media screen and (min-width: $s-m) {
			float: left;
			text-align: left;
		}
	}
	.footer-links {
		display: block;
		text-align: center;
		li {
			display: inline-block;
			margin: 1.33em;
		}

		@media screen and (min-width: $s-m) {
			float: right;
			text-align: right;
			li {
				margin: 0 0 0 2em;
			}
		}
	}
}

.menu .footer {
	@include animation(contentOut, .6s, ease-in-out, 1);
	margin-left: -320px;
}

.no-menu .footer {
	@include animation(contentIn, .6s, ease-in-out, 1);
	margin-left: 0;
}
