.header {
	background: $white;
	display: block;
	position: relative;
	width: 100%;
	z-index: 2;

	.site-logo {
		display: block;
		text-align: center;
		img {
			max-width: 100%;
		}
	}
	.site-title {
		margin: 0;
	}
}

.nav-toggle {
	@include animation(ani-4, 2s, ease-in-out, infinite);
	border: none;
	cursor: pointer;
	display: block;
	height: 60px;
	position: fixed;
	right: 1em;
	top: 1em;
	width: 60px;

	span {
		background: $yellow;
		height: 8px;
		left: 50%;
		top: 50%;
		position: absolute;
		@include transform(translate3D(-50%,-50%,0));
		width: 8px;
	}
	span:nth-child(1) {
		@include animation(ani-1, 2s, ease-in-out, infinite);
	}
	span:nth-child(2) {
		@include animation(ani-2, 2s, ease-in-out, infinite);
	}
	span:nth-child(3) {
		@include animation(ani-3, 2s, ease-in-out, infinite);
	}
}

.header-nav {
	display: block;
	height: 100%;
	padding: 4em 0 0 0;
	position: fixed;
	right: 320px;
	top: 0;
	width: 320px;
	z-index: 0;
}
.menu .header-nav {
  @include animation(sidebarIn, .9s, ease-in-out, 1);
  right: 0;
}
.no-menu .header-nav {
  @include animation(sidebarOut, .9s, ease-in-out, 1);
  right: 320px;
}
.header-list {
	margin-top: 2em;
	a {
		border: none;
		color: $yellow;
		display: block;
		font-weight: 300;
		line-height: 1.5em;
		margin: 0 2em;
		padding: .25em 0;
		text-transform: uppercase;
		@media screen and (min-height: $s-m) {
			font-size: 1.5em;
			margin: 0 1em;
		}
		.fa-angle-right {
			float: right;
			padding-top: .125em;
		}
		.header-icon {
			color: $black;
			padding-right: .5em;
			text-align: center;
			width: 1.5em;
		}
		&:hover {
			color: $black;
		}
	}
	.separate {
		border-bottom: 1px solid $black;
	}
}
