.header {
	background: $white;
	display: block;
	padding: .5em;
	position: relative;
	@include transition(margin-left $transition-standard);
	width: 100%;
	z-index: 2;

	.site-logo {
		display: block;
		text-align: center;
		img {
			max-width: 100%;
		}
	}
	.site-title {
		margin: 0;
	}
}

.header-nav {
	display: block;
	height: 100%;
	margin-right: 320px;
	position: fixed;
	right: 0px;
	top: 0;
	@include transition(margin-right $transition-standard);
	width: 320px;
	z-index: 0;
	.nav-menu {
		font-weight: 300;
		margin: 4em 0 0;
		text-transform: uppercase;
		@include transition(margin-left $transition-standard);
		&:hover {
			margin-left: -.25em;
		}
		li {
			@include long-shadow($type: text, $color: $s-white, $length: 350, $fadeout: false, $skew: false, $direction: left);
			&:nth-of-type(2n) {
				@include long-shadow($type: text, $color: $white, $length: 700, $fadeout: false, $skew: false, $direction: right);
			}
		}
		a {
			color: $black;
			display: block;
			font-size: 2em;
			line-height: 1.5em;
			padding: 0 .25em;
			position: relative;
			@include transition(margin-left $transition-standard);
			&:active,
			&:hover {
				margin-left: 1em;
			}
		}
	}
}

.menu .header {
	margin-left: -320px;
}

.nav-toggle {
	cursor: pointer;
	display: block;
  padding: 2em 1em;
  position: fixed;
  right: 0;
  top: 0;
  .nav-icon {
  	background: $s-tan;
  	content: "";
  	display: block;
  	height: .125em;
  	position: relative;
  	width: 2em;
  	@include transition(all .3s);
  	&:after, &:before {
	    display: block;
	    content: "";
	    height: .125em;
	    width: 2em;
	    background: $s-tan;
	    position: absolute;
	    @include transition(all .3s);
	  }
	  &:after { 
	  	top: -.625em; 
	  }
  	&:before { 
  		top: .625em; 
  	}
  }
  .nav-text {
  	color: $s-tan;
  	font-size: .75em;
  	left: -2.25em;
  	position: absolute;
  	text-transform: uppercase;
  	top: 2em;
  	@include transition(all .3s);
  }
}
.menu .nav-toggle .nav-text {
	color: $black;
}

.menu .header-nav {
	margin-right: 0;
}

.menu .nav-toggle .nav-icon,
.menu .header-nav .nav-toggle .nav-icon {
	background: transparent;
  &:after { 
  	background: $black;
  	@include transform(rotate(45deg));
  	top: 0 !important; 
  }  
  &:before { 
  	background: $black;
  	@include transform(rotate(-45deg));
  	top: 0 !important;
  }  
}
