.header {
	background: $white;
	display: block;
	padding: .5em;
	position: relative;
	@include transition(margin-left .3s cubic-bezier(0.905, 0.015, 0.65, 0.97) 0s);
	width: 100%;
	z-index: 2;
	&.header-welcome {
		background: none;
	}

	.site-logo {
		display: block;
		text-align: center;
		img {
			max-width: 100%;
		}
	}
	.site-title {
		margin: 0;
	}
}

.header-nav {
	background-size: 20px 20px;
	display: block;
	height: 100%;
	margin-right: 320px;
	position: fixed;
	right: 0px;
	top: 0;
	@include transition(margin-right .3s cubic-bezier(0.905, 0.015, 0.65, 0.97) 0s);
	width: 320px;
	z-index: 0;
	.nav-menu {
		font-weight: 300;
		margin: 4em 0 0;
		text-transform: uppercase;
		@include transition(margin-left .3s cubic-bezier(0.905, 0.015, 0.65, 0.97) 0s);
		&:hover {
			margin-left: -.25em;
		}
		a {
			color: $white;
			display: block;
			font-size: 2em;
			line-height: 1.5em;
			padding: 0 .25em;
			position: relative;
			@include transition(margin-left .3s cubic-bezier(0.905, 0.015, 0.65, 0.97) 0s);
			&:active,
			&:hover {
				margin-left: 1em;
			}
			&:before {
				border-bottom: 1em solid transparent;
				border-left: 1em solid $white;
				border-top: 1em solid transparent;
				content: "";
				display: block;
				height: 0; 
				left: -1.25em;
				position: absolute;
				top: -.25em;
				width: 0; 
			}
		}
	}
}

.menu .header {
	margin-left: -320px;
}

.menu .header-nav {
	margin-right: 0px;
	.nav-icon,
  .nav-icon:after,
	.nav-icon:before {
		background: $white;
	}
}

.nav-toggle {
	cursor: pointer;
	display: block;
  padding: 2em 1em;
  position: absolute;
  right: 0;
  top: 0;
  .nav-icon {
  	background: $red;
  	content: "";
  	display: block;
  	height: .125em;
  	position: relative;
  	width: 2em;
  	@include transition(all .3s);
  	&:after, &:before {
	    display: block;
	    content: "";
	    height: .125em;
	    width: 2em;
	    background: $red;
	    position: absolute;
	    @include transition(all .3s);
	  }
	  &:after { 
	  	top: -.625em; 
	  }
  	&:before { 
  		top: .625em; 
  	}
  }
  .nav-text {
  	color: $red;
  	font-size: .75em;
  	left: -2.25em;
  	position: absolute;
  	text-transform: uppercase;
  	top: 2em;
  	@include transition(all .3s);
  }
  &:hover .nav-icon,
  &:hover .nav-icon:after,
	&:hover .nav-icon:before {
		background: $black;
	}
	&:hover .nav-text {
		color: $black;
	}
}
.menu .nav-toggle .nav-icon {
	background: transparent;
  &:after { 
  	@include transform(rotate(45deg));
  	top: 0 !important; 
  }  
  &:before { 
  	@include transform(rotate(-45deg));
  	top: 0 !important;
  }  
}
